body{
    background-color: #411317;
}
.container{
    border-radius: 25px;        
   background-color: #291c64;
    width:60vw;
    height:400px;
    margin-top: 10%;
    margin-left:20%;
}
.container h2{
   text-align: center;
    color:white;   
}
.container p {
    color: white;
    text-align: center;
}
.icon{
    margin-left: 45%;
}
input[type="text"]{
    margin-left:42%;
}